<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">

<head>
    <title>Dashboard page</title>
</head>

<body>
  <div id="content">
        
    <!-- <user is logged in: Sidebar > -->
    <div th:if="${loggedInUser}">
      <div data-th-replace="~{user/sidebar}"></div> 
    </div>

  
  <div id="content" class = "sm:pl-64 pt-20">
    <h1>Welcome to Dashboard Page</h1>
    </div>
    <script>
        console.log("Contact page");
    </script>

  </div>
</body>

</html>
