<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>

<body>

    <div th:replace="/base :: parent"></div>
    <h1>About Us</h1>
    <p>Welcome to our company! We are dedicated to providing top-notch services and products to our customers. Our team
        of professionals works tirelessly to ensure that we meet and exceed your expectations. With years of experience
        in the industry, we have built a reputation for excellence and reliability. We believe in continuous improvement
        and innovation to stay ahead in the market. Thank you for choosing us, and we look forward to serving you.</p>
</body>

</html>