<!DOCTYPE html>
<!-- <html lang="en" th:fragment="parent(content,title,script)" xmlns:th="http://www.thymeleaf.org"> -->

<html lang="en" th:fragment="parent(content, title='Base Page', script)" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title} ?: 'Base Page'">SCM</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">

    <!-- Add Flowbite CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css">
</head>

<body>
    <!-- <common header> -->
    <div data-th-replace="~{navbar :: navbar}"></div>

    <section data-th-replace="${content}"></section>
    <th:block data-th-replace="${script}"></th:block>

    <!-- <common footer> -->
    <footer class="p-4">
        <p>Learn code</p>
    </footer>

    <!-- Add Flowbite JS before closing </body> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
</body>

</html>
