<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" th:href="@{/css/output.css}">
</head>

<body>
    <div class="bg-gray-200 w-1/2 p-4 mx-auto mt-4 flex flex-col items-center text-center">
        <h1 class="text-2xl font-bold">Welcome to Home Page</h1>
        <p>Github repo Link: <span th:text="${githubRepo}"></span></p>
        <a th:href="${githubRepo}" target="_blank" rel="noopener noreferrer" class="text-blue-500 underline">
            Click here to open
        </a>
        <p class="text-gray-400">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, nobis ipsum sequi iste
            adipisci libero fuga ab illo laboriosam incidunt inventore perferendis earum numquam voluptatibus commodi
            vel optio autem
            iure cum magni porro! Dolorum eveniet in reiciendis expedita, obcaecati dolorem consequatur qui nostrum.
            Quibusdam repudiandae quasi molestias nostrum quos quae.
        </p>

        <button class="px-3 py-3 mt-4 rounded bg-blue-700 text-white hover:bg-blue-500 cursor-pointer">
            Click Here
        </button>
    </div>
   
</body>

</html>