<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}"
>
  <body>
    <div id="content">
      <!-- Login form container -->
      <div
        class="w-full max-w-md p-6 mx-auto mt-2 bg-white border-t-4 border-b-2 border-blue-700 rounded-lg shadow-sm sm:p-6 md:p-8 dark:bg-gray-800 dark:border-blue-600"
      >
        <!-- Error message for invalid login -->
        <div class="text-red-600 text-center -mt-5" data-th-if="${param.error}">
          Invalid username and password.
        </div>

        <!-- Message displayed when user logs out -->
        <div
          class="text-green-600 text-center -mt-5"
          data-th-if="${param.logout}"
        >
          You have been logged out.
        </div>

        <!-- Login form -->
        <form
          method="post"
          data-th-action="@{'/authanticate'}"
          class="space-y-6"
        >
          <h5 class="text-2xl font-medium text-gray-900 dark:text-white">
            Sign in to our Platform
          </h5>

          <!-- Email input field -->
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your email</label
            >
            <input
              type="email"
              name="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
              placeholder="name@company.com"
            />
          </div>

          <!-- Password input field -->
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your password</label
            >
            <input
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
            />
          </div>

          <!-- google login button  -->
          <div class="px-6 sm:px-0 max-w-sm">
            <a th:href="@{/oauth2/authorization/google}">
              <button
                type="button"
                class="px-4 py-2 border flex gap-2 border-slate-200 dark:border-slate-700 rounded-lg text-slate-700 dark:text-slate-200 hover:border-slate-400 dark:hover:border-slate-500 hover:text-slate-900 dark:hover:text-slate-300 hover:shadow transition duration-150"
              >
                <img
                  class="w-6 h-6"
                  th:src="@{https://www.svgrepo.com/show/475656/google-color.svg}"
                  loading="lazy"
                  alt="google logo"
                />
                <span>Login with Google</span>
              </button>
            </a>
          </div>

          <!-- Remember me checkbox and forgot password link -->
          <div class="flex items-start">
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <input
                  id="remember"
                  type="checkbox"
                  value=""
                  class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                  required
                />
              </div>
              <label
                for="remember"
                class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >Remember me</label
              >
            </div>
            <a
              href="#"
              class="ms-auto text-sm text-blue-700 hover:underline dark:text-blue-500"
              >Lost Password?</a
            >
          </div>

          <!-- Login button -->
          <button
            type="submit"
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Login to your account
          </button>

          <!-- Registration link -->
          <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
            Not registered?
            <a
              href="/register"
              class="text-blue-700 hover:underline dark:text-blue-500"
              >Create account</a
            >
          </div>
        </form>
      </div>
    </div>

    <!-- Simple script for logging a message in the console -->
    <script>
      console.log("Login page");
    </script>
  </body>
</html>
